@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background:  #fa5354;
    height: 100vh;   
}

h1 {
    margin-bottom: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: azure;
}

.container {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botoescontainer {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#botoescontainer button {
    margin: 3%;
    font-family: "Montserrat", sans-serif;
    padding: 1%;
}

#gerarbotao {
    font-family: "Montserrat", sans-serif;
    padding: 1%;
}

#botoescontainer button:hover {
    background-color: #2D9EFA;
    cursor: pointer;
    transform: scale(1.05);
    border: 1px;
    border-radius: 5%;
}

#gerarbotao:hover{
    cursor: pointer;

}
